{% extends 'base.html' %}


{% block head %} 
<title>About | Python Warrior</title>

{% endblock %}


{% block body %}
<h1>About Us</h1>

<div>

    <div class="bg-light p-5 rounded">
      <div class="col-sm-8 mx-auto ">
        <h1>Welcome to My Blog..</h1>
        <h3>Author : kavyansh</h3>
        <br>
        <p>Hello I am Kavyansh.</p>
        <p>Welcome to my blog. Here I post my thoughts like my experience in colleges and now in corporate. I also post technical contents there.</p>
        <br>
        <a class="btn btn-success" href="/">Back</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}