{% extends 'base.html' %}


{% block head %}
<title>Home</title>

{% endblock %}



{% block body %}
<h1>Contact Us</h1>

<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>You can connect with me</h1>
            <br>
            <p>Connect with me on Instagram.</p>

            <p>
                <a class="btn btn-link" href="https://www.instagram.com/kavyansh.pandey" role="button">Instagram
                    &raquo;</a>
            </p>

            <p>Connect with me on Twitter.</p>
            <p>
                <a class="btn btn-link" href="https://www.twitter.com/KavyanshPandey" role="button">twitter
                    &raquo;</a>
            </p>
            <p>Connect with me on linkedin.</p>
            <p>
                <a class="btn btn-link" href="https://www.linkedin.com" role="button">LinkedIn
                    &raquo;</a>
            </p>
        </div>
    </div>
</div>
</div>
{% endblock %}
