{% extends 'base.html' %}


{% block head %} 
<title>Home</title>

{% endblock %}



{% block body %}
<center>
    <h1><b> Home page </b></h1>
</center>

<div>
    <div class="bg-light p-5 rounded">
      <div class="col-sm-8 mx-auto">
        <h2>Welcome to My Blog..</h2>
        <h3>Author : kavyansh</h3>
        <br>
        <p>Hello I am Kavyansh.</p>
        <p>Welcome to my blog. Here I post my thoughts like my experience in colleges and now in corporate. I also post technical contents there.</p>
        <p>I have done few projects in this lockdown, You can get source_code for projects from my github profile.</p>

        
        <br>
        <p>
          <a class="btn btn-primary" href="https://github.com/KavyanshPandey" role="button">Go to Git Profile &raquo;</a>
        </p>
      </div>
    </div>
  </div>
</div>
 {% endblock %}
